@media screen and (max-width: 1024px) {
  .nav-menu {
    width: 55%;

  }
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }

  #main h1{
    
    font-size: 4rem;
    line-height: 80px;

  }


  .nav-menu {
    position: absolute;
    right: 0;
    height: 84vh;
    top: 16vh;
    background-color: white;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
  }

  .nav-menu li {
    opacity: 0;


  }

  .hamburger {
    display: block;
  }
}
